<div class="d-flex justify-content-between align-items-center sportsbuzz-header w-100">
    <img class="col-5 d-flex align-items-start sportsbuzz-header__logo" (click)="navigateToHomePage()"
        src="../../assets/icons/sportsbuzz Final Logo.svg" width="70" height="70">
    <section class="col-5 align-flex-row gap-3 ">
        <img class="sportsbuzz-header__notification-icon" src="../../assets/icons/notification-icon.svg" width="30"
            height="30">
        <img class="sportsbuzz-header__search-icon" src="../../assets/icons/search-icon.svg" width="20" height="20">
        <img src="../../assets/icons/login-button.svg" [routerLink]="'/login'" width="70" height="70" alt="">
    </section>
</div>