.navigation {
	height: 70px;
	background: linear-gradient(90deg, #2d2e30e0 0%, #2e2c29bf 100%);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px 20px;
	bottom: 0;
	z-index: 1;
	width: 100%;

	.listWrap {
		list-style: none;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0;

		li {
			width: 70px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;

			span {
				width: 100%;
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: center;

				.icon {
					position: relative;
					align-items: center;
					transition: 0.5s;
					color: #222327;

					ion-icon {
						font-size: 2.2rem;
					}
				}

				.text {
					display: none;
				}
			}

		}

		.selected {
			// background: linear-gradient(90deg, #828a93e0 0%, #81674fbf 100%);;
			// border-radius: 50%;
			background: linear-gradient(180deg, #fe7911 16.97%, #fcac23 75.25%);
			height: 70px;
			width: 70px;
			padding: 10px 10px 5px;
transform: translateY(8px);
			.text {
				color: #ffffff;
				font-weight: 400;
				font-size: 10px;
				display: block;
			}
		}
	}
}