.player-profile-wrapper {
    .player-name {
        padding: 1rem;
        background-image: url('../../assets/icons/indian-team-logo.svg');

        .stat-overview {
            padding: 1.5rem 1.5rem 2rem 1.5rem;
        }
    }

    .header {
        font-size: 20px;
        font-weight: 600;
        height: 35px;
        background-color: #ff9d42;
        color: #000;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        span {
            margin: 0 5px;
            padding-bottom: 5px;
            white-space: nowrap;
        }

        .active {
            color: #fff;
            border-bottom: 3px solid #fff;
        }
    }

    .player-details {
        padding: 1rem;

        .player-overview {
            padding: 1rem;
            background-color: #1F2022;
            border-radius: 15px;
        }

        .icc-ranking {
            padding: 1rem;
            background-color: #1F2022;
            border-radius: 15px;
            margin-bottom: 5rem;
        }

        .stats {
            border-radius: 15px;
            background-color: #1F2022;
            padding: 1rem;
            margin-bottom: 5rem;

            h5 {
                color: #FFFFFF;
            }

            label {
                color: #FFFFFFCC;
            }

            table {
                .firts-tr {
                    background-color: #2A2B2C;
                }

                .second-tr {
                    background-color: #1F2022;
                }

                tr,
                th,
                td {
                    border: 2px solid #FFFFFF33;
                    padding: 10px;
                    font-size: 12px;
                }
            }
        }

        .records {
            border-radius: 15px;
            background-color: #1F2022;
            padding: 1rem;
            margin-bottom: 5rem;

            label {
                font-size: 16px;
                font-weight: 500;
            }
        }

        .news {
            margin-bottom: 5rem;

            .colored-news-box {
                padding: 20px;
                background-color: #1F2022;

                .date {
                    font-size: 12px;
                }

                .news-heading {
                    font-size: 16px;
                    font-weight: 500;
                }

                .news-detail {
                    font-size: 14px;
                    color: #FFFFFFCC;
                }
            }

            .other-news-box {
                padding: 20px;
                margin-bottom: 3rem;

                .date {
                    font-size: 12px;
                }

                .news-heading {
                    font-size: 16px;
                    font-weight: 500;
                }

                .news-detail {
                    font-size: 14px;
                    color: #FFFFFFCC;
                }
            }
        }
    }
}