<app-header></app-header>
<div class="contact-us-wrapper align-flex-column w-100">
    <span class="contact-us-btn align-flex-row">
        <label for="">CONTACT US</label>
    </span>
    <div class="contact-us-form w-100 mt-5">
        <form class="d-flex gap-4 flex-column">
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Phone No.">
            <input class="form-text-box" type="text" placeholder="Write your Message">
            <div class="align-flex-row">
                <button class="btn contact-us-form-submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>