<app-header></app-header>
<div class="about-us-wrapper d-flex flex-column">
  <div class="about-us ms-4 align-flex-column">
    <h3 class="d-flex justify-content-start align-items-start">ABOUT US</h3>
    <hr>
    <label class="orange-font ms-2 d-flex">The A to (BUZ)Z of the sports arena</label>
    <p class="mt-2 ms-2 align-flex-row ">The best in the field for upcoming matches,
      latest score updates, controversies, and viral news first amongst all.Sports are not just a pastime for their
      followers, they are a passion, a commitment. Here at Sportsbuzz, we aim to cater to each and every of your
      sporting needs. We aim to give you the latest worldwide updates on the sporting world in the blink of an eye.</p>
    <p class="ms-2">With a team of creative minds with sports flowing through their veins, we are dedicated to serving
      you content that keeps you on top of your favorite sport. Be it cricket, football, tennis, or any sport you can
      think of !</p>
    <p class="ms-2">Get the latest news, opinions, controversies,
      and updates at your fingertips.</p>
  </div>
  <div class="get-in-touch ms-4 mt-4 align-flex-column">
    <span class="touch text-center position-relative">Get in touch <label class="touch orange-font"> with us</label>
      <label>All at Sportsbuzz, the home of all sports news.</label>
    </span>
    <div class="align-flex-row mt-4">
      <button class="btn w-50 align-flex-column position-absolute" [routerLink]="'/contact-us'">CONTACT US &nbsp;<img
          class="" src="../../assets/Images/Icon awesome-arrow-right.svg" alt="" width="12"> </button>
    </div>
  </div>
  <div class="image-ads ms-4 mt-5">
    <img src="../../assets/Images/about-us-ads.svg" alt="">
  </div>
</div>
<app-footer></app-footer>