.about-us-wrapper {
    &>.about-us {
        box-shadow: 0 1px 2px 0 rgb(255, 255, 255);
        border-radius: 5px;
        background-color: #1F2022;
        width: 90%;
        padding: 10px;

        h3 {
            margin-top: 1rem;
            margin-left: 0.5rem;
        }

        hr {
            width: 85%;
            margin: 10px;
        }
    }

    &>.get-in-touch {
        box-shadow: 0 1px 2px 0 rgb(255, 255, 255);
        border-radius: 5px;
        background-color: #1F2022;
        width: 90%;
        height: 14vh;
        font-size: 18px;
        padding: 10px;
        font-weight: 500;
    }

    .btn {
        background-color: #FF9D42;
        border-radius: 20px;
        font-weight: 700;
        color: #000000;
    }

    &>.image-ads {
        margin-bottom: 5rem;
    }
}