<app-header></app-header>
<div class="players-wrapper">
    <section class="team-image-rankings position-relative w-100">
        <img class="w-100" src="../../../assets/Images/South-Africa/Southafrica_cricket_flag.svg" height="170">
        <div class="team-rankings-tabs d-flex flex-column gap-5 w-100 justify-content-center align-items-center">
           <!-- <img class="blur-background w-100 " src="../../../assets/Images/blur-image-cropped.svg"> -->
           <div class="w-100 mt-3">
            <span class="d-flex flex-column w-100 justify-content-center align-items-center">
                <label class="team">South Africa</label>
                <label class="rankings">RANKINGS</label>
            </span>
            <span class="match-series d-flex align-items-center justify-content-between gap-2 mt-5">
                <div class="series-name-number justify-content-center align-items-center d-flex flex-column">
                    <label class="series-name">ODI</label>
                    <label class="number">3</label>
                </div>
                <div class="series-name-number-orange justify-content-center align-items-center d-flex flex-column">
                    <label class="series-name">TEST</label>
                    <label class="number">2</label>
                </div>
                <div class="series-name-number justify-content-center align-items-center d-flex flex-column">
                    <label class="series-name">T20</label>
                    <label class="number">3</label>
                </div>
            </span>

            <span class="fixtures-squad-videos d-flex align-items-center justify-content-evenly gap-2 mt-5">
                <div class="fixtures justify-content-center align-items-center d-flex" [ngClass]="{'orange-background': teamType === 'homeTeam'}"
                    (click)="teamType = 'homeTeam'">
                    <label class="heading">{{routeQueryParams.homeTeamName}}</label>
                </div>
                <div class="squad justify-content-center align-items-center d-flex"  [ngClass]="{'orange-background': teamType === 'awayTeam'}"
                    (click)="teamType = 'awayTeam'">
                    <label class="heading">{{routeQueryParams.awayTeamName}}</label>
                </div>
            </span>
            <section class="playing-11">
                <span class="d-flex justify-content-center w-100 ">
                    <h1 class="orange-font">PLAYING XI</h1>
                </span>
                <span class="players-images align-items-center w-100 mt-5">
                    <div class="grid-item" (click)="navigateToPlayerProfile()" *ngFor="let player of teamSquads[teamType]?.playingXI">
                        <span class="image-black d-flex align-items-start justify-content-center">
                        <img src="../../../assets/Images/player-profile-Abd.svg" class="player ms-3">
                        <img src='{{"assets/Images/" + player.playertype + ".svg"}}' class="bat-ball">
                        </span>
                        <h6 class="orange-font text-center mt-3">{{player.playerName}}</h6>
                   <!-- <span class="name d-flex justify-content-center align-items-center">
                    <h6>{{player.playerName}}</h6>
                   </span> -->
                    </div>
                </span>

            </section>
           </div> 
        </div>            
    </section>
</div>
<app-footer></app-footer>
