<app-header></app-header>
<div class="affiliate-program-header align-flex-column">
    <label><b>Earn from the </b></label>
    <label><b>Sportsbuzz</b></label>
    <label><b> Affiliate Program</b></label>
    <button class="affiliate-program-join-btn mt-2"><b>Join Now</b></button>
</div>

<div class="affiliate-program-discription">
    <p>You can never run out of interesting material to share with your audience and generating revenue each month,
        thanks to our expert writers for penning well-researched, compelling, and relevant tales every day.</p>
</div>

<div class="affiliate-program-submenu-heading">
    <h1>Why <span class="orange-font">Sportsbuzz</span> Affiliate Program?</h1>
</div>

<div class="d-flex gap-2 affiliate-program-submenu">
    <div class="submenu-numbering-div">
        <div class="num-box">1</div>
        <div class="num-box">2</div>
        <div class="num-box">3</div>
        <div class="num-box">4</div>
    </div>
    <div class="submenu-text-div">
        <div class="text-box box1">
            <h1>Expand your Audience</h1>
            <p>You may share popular articles across your platforms and expand your audience by using our premium
                content, which is authored by our best writers.</p>
        </div>
        <div class="text-box box2">
            <h1>Share Countless Interesting Content</h1>
            <p>Pool of content material is available like Various sports news, stats, expert analysis, live commentary,
                etc.
            </p>
        </div>
        <div class="text-box box3">
            <h1>High Earning Potential & timely payouts</h1>
            <p>We have you covered, no matter if you are a beginner or a pro we work hard to consistently offer
                affiliates all the assistance and input needed as needed.</p>
        </div>
        <div class="text-box box3">
            <h1>Top-Notch Relationship Management</h1>
            <p>We have you covered, no matter if you are a beginner or a pro we work hard to consistently offer
                affiliates all the assistance and input needed as needed.</p>

        </div>
    </div>
</div>

<div class="d-flex row affiliate-program-sub-section">
    <h1 class="affiliate-program-sub-section-title">How to join our Affiliate Program?</h1>

    <div class="align-flex-row affiliate-program-sub-section-menu">
        <div class="contener-box box1 align-flex-column"><img src="../../assets/Images/signup-affiliate-program.svg">
            <p>Sign up on sportsbuzz</p>
        </div>
        <div class="contener-box box1 align-flex-column"><img src="../../assets/Images/share-affiliate-program.svg">
            <p>Share our articles</p>
        </div>
        <div class="contener-box box1 align-flex-column"><img
                src="../../assets/Images/receive-money-affiliate-program.svg">
            <p>Voila! Receive money into your account</p>
        </div>
    </div>
</div>
<div class="affiliate-program-join-section">
    <label class="align-flex-row"><b>Start Making </b>&nbsp;<span class="orange-font"><b>Money Right
                Now</b></span></label>
    <p>Join the community of bloggers & authors with Sportsbuzz affiliate programme.</p>
</div>
<img class="join-right-now d-flex" src="../../assets/Images/join-right-now.svg" alt="">

<div class="mt-3">
    <label></label>
</div>
<app-footer></app-footer>