<app-header></app-header>
<div class="policies-wrapper">
    <div class="policies flex-column mt-5 d-flex justify-content-center">
        <div class="heading orange-font">POLICIES</div>
        <h6 class="d-flex mt-4 justify-content-center">Privacy Policy</h6>
        <hr>
        <h6 class="d-flex justify-content-center">GDPR Compliance</h6>
        <hr>
        <h6 class="d-flex justify-content-center align-items-center">Terms of Use</h6>
    </div>
    <div class="content-policies mt-5"></div>
    <h1 class="orange-font heading">CONTENT POLICIES</h1>
    <h6 class="d-flex mt-4 justify-content-center align-items-center">Fact Checking Policy</h6>
    <hr>
    <h6 class="d-flex justify-content-center align-items-center">Ethics Policy</h6>
    <hr>
    <h6 class="d-flex justify-content-center align-items-center">Corrections Policy</h6>
    <hr>
    <h6 class="d-flex justify-content-center align-items-center">Ownership</h6>
</div>
<app-footer></app-footer>