.policies-wrapper {
    .heading {
        padding: 11px;
        margin: 1px 85px 0px 85px;
        background-color: #FF9D42;
        border-radius: 25px;
        text-align: center;
        font-size: 18px;
        color: #000000;
        font-weight: 500;
    }

    hr {
        width: 55%;
        margin-left: 83px;
    }
}