<app-header></app-header>
<mat-tab-group>
    <!-- <mat-tab label="MASTER CLASS"> 
        <div class="master-class-wrapper">
            <img class="master-banner w-100" src="../../assets/Images/master-banner.svg" alt="">
            <div class="header d-flex justify-content-center align-items-center w-100">
                <label for="">Content curated by</label>
                <img class="image ms-3" src="../../assets/Images/social-swag.svg" alt="">
            </div>
        </div>    
        <div class="d-flex justify-content-center mt-4 px-3">
            <img class="w-100" src="../../assets/icons/masterclasses-subscribe.svg" alt="">
        </div>
        <div class="master-classes w-100">
            <div class="master-class-1 mt-1">
                <span class="d-flex position-relative">
                    <img class="w-100" src="../../assets/Images/jonty-master-class.svg" alt="">
                </span>
                <span class="description position-absolute">
                    <label class="orange-font" for="">JONTY RHODES</label>
                    <label class="master-topic d-flex" for="">Basics of Fielding & Agility</label>
                    <img src="../../assets/icons/masterclasses-subscrive-now.svg" alt="">
                </span>
            </div>
            <div class="master-class-2 mt-1">
                <span class="d-flex position-relative">
                    <img class="w-100" src="../../assets/Images/encore-paradox-banner.svg" alt="">
                </span>
                <span class="description2 position-absolute">
                    <label class="orange-font" for="">Encore & Paradox</label>
                    <label class="master-topic d-flex" for="">Master of Mobile Gaming</label>
                    <img src="../../assets/icons/masterclasses-subscrive-now.svg" alt="">
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <img src="../../assets/Images/left-line-2.svg" alt="">
            <label for="">TRENDING NEWS</label>
            <img src="../../assets/Images/right-line-2.svg" alt="">
        </div>
        <div class="trending-news mt-3 px-3">
            <div class="d-flex flex-column justify-content-start gap-3 mt-3">
                <img class="image" height="144px" width="224px" src="../../assets/Images/spain-trending.svg" alt="">
                <span>
                    <label class="headline" for="">Spain And Portugal Come Down To 4th Consecutive Draw</label>
                </span>
            </div>
            <div class="d-flex flex-column justify-content-start gap-3 mt-3">
                <img class="image" height="144px" width="224px" src="../../assets/Images/spain-trending.svg" alt="">
                <span>
                    <label class="headline" for="">Spain And Portugal Come Down To 4th Consecutive Draw</label>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <img src="../../assets/Images/left-line-2.svg" alt="">
            <label for="">WHAT CUSTOMER SAYS</label>
            <img src="../../assets/Images/right-line-2.svg" alt="">
        </div>
         <div class="customer-review mt-3 px-3 w-100">
            <div class="customer-feedback ">
                <span class="d-flex">
                    <img class="customer-image mt-3" height="46px" width="46px" src="../../assets/Images/Ellipse-img.svg" alt="">
                    <div class="d-flex flex-column">
                        <label class="orange-font mt-3 px-3" for="">Vaishali Sharma</label>
                        <div class="d-flex gap-1 px-3">
                            <img class="ratting-icon1" height="15px" width="16px" src="../../assets/icons/star-icon.svg" alt="">
                            <img class="ratting-icon2" height="15px" width="16px" src="../../assets/icons/star-icon.svg" alt="">
                            <img class="ratting-icon3" height="15px" width="16px" src="../../assets/icons/star-icon.svg" alt="">
                            <img class="ratting-icon4" height="15px" width="16px" src="../../assets/icons/star-icon.svg" alt="">
                        </div>
                        <label class="comment-section mt-2" for="">In the Indian Cricket Team, some get 5 chances, some get 10 chances the lucky ones...read more...read more</label>
                    </div>
                </span>
            </div>
        </div>
    </mat-tab> -->
    <mat-tab label="EXPERT ANALYSIS">
        <app-expert-analysis></app-expert-analysis>
    </mat-tab>
</mat-tab-group>
<app-footer></app-footer>