<!-- is Mobile Screen -->
<div *ngIf="!isDesktopScreen">
<app-header></app-header>
<marquee direction="left" *ngIf="!isSportsNews"><label class="orange-font" for="">News</label> | <label *ngFor="let news of latestNews">{{news.name}}</label></marquee>
<div class="news-wrapper">
    <h4>NEWS</h4>
    <section class="tab-images align-flex-row w-100 gap-5" *ngIf="isSportsNews">
        <span class="d-flex flex-column gap-4" (click)="sportName = 'cricket'">
            <img class="ms-2" src="../../assets/Images/cricket-tab-border.svg" width="50">
            <button class="cricket-btn" [ngClass]="{'orange-background': sportName === 'cricket'}">Cricket</button>
        </span>
        <span class="d-flex flex-column gap-4" (click)="sportName = 'football'">
            <img class="ms-2" src="../../assets/Images/football-tab.svg" width="50">
            <button class="btn" [ngClass]="{'orange-background': sportName === 'football'}">Football</button>
        </span>
        <span class="d-flex flex-column gap-4" (click)="sportName = 'tennis'">
            <img class="ms-2" src="../../assets/Images/tennis-tab.svg" width="50">
            <button class="btn" [ngClass]="{'orange-background': sportName === 'tennis'}">Tennis</button>
        </span>
    </section>
    <section class="top-stories" *ngIf="!isSportsNews">
        <h5 class="orange-font">Top Stories</h5>
        <div class="image-time-headline position-relative mt-3">
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ff9d42" type = "ball-clip-rotate-pulse" [fullScreen] = "false">
                <p class="mt-5" style="color: #ff9d42" > Loading... </p></ngx-spinner>

            <div class="d-flex flex-column justify-content-start gap-3" *ngFor="let story of topStories" (click)="navigateToDetailedNews(story)">
                <img class="image" src='{{story.mainImgUrl}}' alt='{{story.mainImgAlt}}'>
                <span>
                    <label class="time" for="">{{story.publishedOn | date: 'dd/MM/yyyy'}}</label>
                    <label class="headline" for="">{{story.name}}</label>
                </span>
            </div>
        </div>
    </section>
    <hr *ngIf="!isSportsNews">
    <section class="latest-news mt-4" *ngIf="!isSportsNews">
        <h5 class="orange-font">Latest News</h5>
        <table class="mt-3 position-relative">
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ff9d42" type = "ball-clip-rotate-pulse" [fullScreen] = "false">
                <p class="mt-5" style="color: #ff9d42" > Loading... </p>
            </ngx-spinner>
            <tr *ngFor="let news of latestNews" (click)="navigateToDetailedNews(news)">
                <td>
                    <img width="100" height="100" src='{{news.mainImgUrl}}' alt='{{news.mainImgAlt}}'>
                </td>

                <td>
                    <span>
                        <label class="time" for="">{{news.publishedOn | date: 'dd/MM/yyyy'}}</label>
                        <label class="headline" for="">{{news.name}}</label>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="../../assets/Images/news-ads.svg" alt="">
                </td>
            </tr>
        </table>
    </section>

    <section class="latest-news mt-4" *ngIf="isSportsNews">
        <h5 class="orange-font">Latest News</h5>
        <table class="mt-3">
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ff9d42" type = "ball-clip-rotate-pulse" [fullScreen] = "true">
                <p class="mt-5" style="color: #ff9d42" > Loading... </p></ngx-spinner>
            <tr *ngFor="let news of sportsNewsData[sportName]" (click)="navigateToDetailedNews(news)">
                <td>
                    <img width="100" height="100" src='{{news.mainImgUrl}}' alt='{{news.mainImgAlt}}'>
                </td>

                <td>
                    <span>
                        <label class="time" for="">{{news.publishedOn | date: 'dd/MM/yyyy'}}</label>
                        <label class="headline" for="">{{news.name}}</label>
                    </span>
                </td>
            </tr>
        </table>
    </section>
    <section class="d-flex justify-content-center w-100 mt-4"><button class="read-more-btn" (click)="isSportsNews ? loadMoreSportsNews() : getLatestNewsData()">Read More News</button></section>
</div>
<app-footer></app-footer>
</div>
<!-- End of Mobile Screen -->

<!-- is Desktop Screen -->
<div *ngIf="isDesktopScreen">
    <section class="desktop-news-wrapper w-100">
        <span class="heading">
            <label for="">Latest News</label>
            </span>
            <div class="border-bottom w-100">
            </div>
            <div class="d-flex news-wrapper gap-5">
            <section class="latest-news w-50" *ngIf="!isSportsNews">
                <div *ngFor="let news of latestNews;first as isFirst" (click)="navigateToDetailedNews(news)">
                <div>
                    <img class="w-100" src='{{news.mainImgUrl}}' alt='{{news.mainImgAlt}}' *ngIf="isFirst">

                </div>
                <div class="latest-news-content d-flex flex-column gap-3" *ngIf="isFirst">
                    <label class="time orange-font" for="">{{news.publishedOn | date: 'dd/MM/yyyy'}}</label>
                                <label class="headline" for="">{{news.name}}</label>
                                <label class="content" for="">{{news.postSummary}}</label>
                </div>
            </div>
                
            </section>
            <section class="desktop-top-stories w-50" *ngIf="!isSportsNews">
                <span class="heading">
                    <label class="w-100">Top Stories</label>
                    </span>
                    <div class="image-time-headline mt-3">
                    <div class="d-flex gap-3" *ngFor="let story of topStories| slice:0:4;let i=index" (click)="navigateToDetailedNews(story)">
                        <img class="image w-25" src='{{story.mainImgUrl}}' alt='{{story.mainImgAlt}}'>
                        <span class="w-75 d-flex flex-column ">
                            <label class="time" for="">{{story.publishedOn | date: 'dd/MM/yyyy'}}</label>
                            <label class="headline" for="">{{story.name}}</label>
                        </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="">
        <section class="latest-news d-flex mt-5 gap-3 w-100 clearfix" *ngIf="!isSportsNews">
            <div *ngFor="let news of latestNews" (click)="navigateToDetailedNews(news)">
            <div>
                <img class="w-100" src='{{news.mainImgUrl}}' alt='{{news.mainImgAlt}}'>

            </div>
            <div class="latest-news-content d-flex flex-column gap-3">
                <label class="time orange-font" for="">{{news.publishedOn | date: 'dd/MM/yyyy'}}</label>
                            <label class="headline" for="">{{news.name}}</label>
                            <label class="content" for="">{{news.postSummary}}</label>
            </div>
        </div>            
        </section>
    </div>
    </section>
    
</div>
<!-- End of Desktop Screen -->