<app-header></app-header>
<div class="d-flex editorial-standard-header">
    <div class="editorial-standard-header-border">
        <h3>Factual. Precise. Unbiased.</h3>
        <hr>
        <p>At Sportsbuzz, we endeavour to preserve the most elevated measures of publication astuteness over each piece of substance that we distribute. Our Managing Editor, content leads and writers work in a system where there are characterised layers
            of checks and equalizations. This guarantees that all data passes through multiple sets of eyes, which perusers get the best of the donning world in an fair-minded and unadulterated frame.</p>
    </div>
</div>


<span class="our-editorial-process align-flex-row mt-4">
    <label>Our Editorial Process</label>
</span>

<div class="d-flex justify-content-center editorial-standard-submenu">
    <div class="submenu-numbering-div">
        <div class="num-box">1</div>
        <div class="num-box">2</div>
        <div class="num-box">3</div>
        <div class="num-box">4</div>
    </div>
    <div class="w-75 submenu-text-div">
        <div class="text-box box1">

            <p>Our writers <span class="orange-font">and fact checkers go thoroughly through</span> the process of researching and fetching <span class="orange-font">out the
                    correct information.</span></p>
        </div>
        <div class="text-box box2">
            <p>Our journalists and writers <span class="orange-font">then comprehend the data and form
                    drafts</span>, ultimately writing the final pieces.
            </p>
        </div>
        <div class="text-box box3">
            <p>Further hygiene checks, facts, and audits <span class="orange-font"> are run through the articles for thorough inspection and</span> to get rid of any plagiarised part of the pieces.</p>
        </div>
        <div class="text-box box4">
            <p>The articles <span class="orange-font">are published
                    after pressing out any</span> errors, mistakes, and/or plagiarisms.</p>
        </div>
    </div>
</div>

<hr>


<label class="d-flex justify-content-center">Report an &nbsp;<p class="orange-font">article/error to us</p></label>



<p class="editorial-standard-last-section-discription">We acknowledge that, despite our meticulous editorial process and, we tend to make mistakes from time to time. Please report any story, article, or social media post where we made a mistake by contacting us. We will act quickly and make the necessary
    modifications as soon as feasible.</p>


<div class="editorial-standard-form align-flex-column">
    <input class="justify-content-center " type="text" placeholder="E-mail">
    <input class="" type="text" placeholder="Complaints / Concern">
    <button class="editorial-standard-form-submit-btn">Submit</button>
</div>
<div class="mt-3">
    <label for="">&nbsp;&nbsp;</label>
</div>
<app-footer></app-footer>