.write-for-us-wrapper {
    padding: 2rem;

    &__introduction {
        &__right-side-text {
            width: 70%;

            @media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
                width: 50%;
            }

            .heading {
                padding: 2rem 15rem;
                font-size: 45px;

                @media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
                    padding: 0;
                    font-size: 18px;
                }
            }

            .content {
                font-size: 22px;
                padding: 2rem 15rem;

                @media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
                    font-size: 12px;
                    padding: 0;
                }
            }
        }

        .write-for-us-image {
            border-radius: 40px;
            width: 30%;
            height: 500px;

            @media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
                border-radius: 20px;
                width: 50%;
                height: 320px;
            }
        }
    }

    &__apply-now-btn {
        background-color: #FF9D42;
        border-radius: 25px;
        color: #ffffff;
        padding: 0.5rem 1rem;
    }

    &__reasons {
        border: 1px solid #fff;
        background-color: rgba(72, 73, 74, 0.7) !important;

        &__heading-content {
            padding: 2rem 10rem;

            .heading {
                font-size: 35px;

                @media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
                    padding: 0;
                    font-size: 20px;
                }
            }

            .content {
                font-size: 25px;

                @media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
                    padding: 0;
                    font-size: 12px;
                }
            }

            @media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
                padding: 1rem 3rem;
            }
        }

        .grid-container {
            padding: 2rem;
            display: grid;
            grid-template-columns: auto auto;

            label {
                font-size: 22px;

                @media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
                    font-size: 12px;
                }

            }
        }
    }

    .write-for-us-form {
        height: 52vh;
        margin: 2rem 30rem;

        form {
            height: 25rem;

            background-color: rgba(72, 73, 74, 0.7);
            border-radius: 8px;
            padding: 1rem;

            @media only screen and (min-device-width:320px) and (max-device-width:810px) {}

            input {
                background-color: transparent;
                color: #FFFFFF;
                border: none;
                border-bottom: 2px solid rgba(255, 255, 255, 0.25);

                @media only screen and (min-device-width:320px) and (max-device-width:810px) {}
            }

            .form-text-box {
                border: 2px solid rgba(255, 255, 255, 0.25);
                border-radius: 8px;
                padding-bottom: 7rem;
            }

            .write-for-us-form-submit-btn {
                background-color: #FF9D42;

            }
        }

        @media only screen and (min-device-width:320px) and (max-device-width:810px) {
            margin: 2rem;
        }
    }


}